.body-section {
  background-image: url(https://tinyurl.com/yyr9o3tb);
  background-size: cover;
}
.horizontal {
  background-color: #000000;
  color: white;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 35px;
  text-indent: 3.5em;
  padding: 6px 6px;
  margin-top: -8px;
  margin-left: -10px;
  margin-right: -10px;
  position: sticky;
  top: 0;
}
.container {
  text-align: center;
  background-color: #FFFFFF;
  margin-top: 10px;
  margin-left: 35%;
  margin-right: 35%;
  width: 340px;
  height: 620px;
  border-radius: 5px;
}
.image {
  margin-top: 10px;
}
.heading {
  margin-top: 0px;
  font-family: system-ui;
  font-weight: normal;
}
p input {
  width: 250px;
  height: 50px;
  font-size: 16px;
  text-indent: 0.8em;
  border-radius: 5px;
  border-style: solid;
  border-width: thin;
}
.button {
  width: 255px;
  height: 40px;
  border-radius: 5px;
  background-color: #1E90FF;
  color: #FFFFFF;
  border-style: none;
  font-size: 16px;
}
#link {
  text-decoration: none;
}
hr {
  margin-left: 10%;
  margin-right: 10%;
}
